{% extends 'base.html' %}


{% block main %}
<div id="about-us">
  <div>
    <h1>ABOUT US</h1>
  </div>
  <div>
    <div id="info">
      <h2>GION</h2>
      <div>
        <h3><span>The Story</span></h3>
      </div>
        <p>GION is a restaurant based in Sydney.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies scelerisque libero ut sagittis. Aliquam scelerisque ipsum ac urna tristique, ac malesuada lacus dignissim. Cras justo ligula, scelerisque eget sapien tempus, elementum facilisis velit. Sed rhoncus, nisl ac bibendum elementum, ligula ex hendrerit nulla, cursus ullamcorper est ante ac erat. Sed interdum turpis sed ipsum dictum, dignissim ullamcorper mauris condimentum. Proin finibus purus eu maximus luctus. Maecenas pulvinar augue pharetra velit pretium accumsan. Nullam eu nisi nec est consectetur semper ac eu est. Donec in volutpat eros. Mauris sapien lorem, dignissim vel nibh ac, iaculis euismod enim. Aliquam erat volutpat. Pellentesque sit amet pellentesque erat.</p>
    </div>
  </div>
</div>


{% endblock %}